<head>
    <title>antoinelaborderie.com - Error</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <meta name="og:title" content="Wow such <%= error.status %>" />
    <meta name="og:description" content="<%= message %>" />
    <meta name="og:type" content="website" />
    <meta name="og:image" content="https://antoinelaborderie.com/images/doge.jpg" />
</head>
<div class="error-page">
    <div class="opacity-background"></div>
    <div class="z-index-1">
        <h1>wow such error</h1>
        <h2><%= error.status %> <%= message %></h2>
    </div>
</div>
